@import '../../Styles/var.scss';

.destinations {
  margin-top: 250px;
	&__title {
		@include title;
		margin-bottom: 55px
	}
  &__cards {
		@include flex-b;
  }
  &__card {
		width: 20%;
		box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
		backdrop-filter: blur(6px);
		border-radius: 8px;
		cursor: pointer;
		img {
			border-radius: 8px;
			width: 100%;
		}
		&-block {
			background-color: white;
			border-top-right-radius: 6px;
			display: inline-block;
			position: relative;
			bottom: 48px;
			padding-top: 10px;
			padding-right: 10px;
		}
    &-country {
			font-size: 17px;
			font-weight: 600;
			margin-bottom: 6px;
    }
    &-city {
			color: #80918E;
			font-size: 15px;
			font-weight: 500;
    }
  }
}
