@import '../../Styles/var.scss';

.footer {
	margin-top: 200px;
	&__container {
		@include flex-b;
	}
	&__line {
		width: 100%;
		height: 1px;
		background-color: #C4C4C4;
		margin-top: 70px;
	}
	&__social {
		@include flex-b;
		width: 15%;
		margin: 30px auto;
		padding-bottom: 30px
	}
	&__list {
		@include flex-b;
		flex-direction: column;
		align-items: baseline;
		&-item {
			@include text;
			font-size: 18px;
			line-height: 210%;
		}
	}
	&__left {
		width: 26%;
		&-logo {
			img {

			}
		}
		&-text {
			@include text;
			font-size: 18px;
			line-height: 156%;
		}
		&-text:not(:last-child) {
			margin-bottom: 50px;
			margin-top: 25px
		}
	}
	&__right {
		@include flex-b;
		width: 60%;
		&-column {
			@include flex-b;
			flex-direction: column;
			align-items: baseline;
		}
		&-title {
			font-size: 19px;
			line-height: 310%;
			font-weight: 700;
		}
	}
}