@import '../../Styles/var.scss';

.testimonials {
	margin-top: 250px;
	&__title {
		@include title;
		margin-bottom: 40px
	}
	.swiper {
		@include flex-b;
		max-width: 80%;
		position: relative;
		&__left {
			width: 35%;
			&-text {
				font-size: 24px;
				line-height: 150%;
			}
			&-name {
				font-weight: 700;
				font-size: 22px;
				line-height: 220%;
				margin-top: 30px;
			}
			&-company {
				font-size: 18px;
				line-height: 250%;
			}
		} 
		&__right {
			img {

			}
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	color: black !important; 
}